/* Reseta margens e define o fundo cinza claro para toda a página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;       
    width: 100vw;
}

#ProfileBase {
    background: #eb78ff;
background: radial-gradient(circle, rgba(235, 120, 255, 1) 0%, rgba(245, 44, 84, 1) 100%);
    width: 25vw;      
    height: 27vw;           
    border-radius: 8px; 
}

#ProfilePhoto {
    border-radius: 100%;
    background-color: red;
    border: 4px solid white;
    width: 7vw;
    height: 7vw;
    display: flex;
    align-items: center;
    margin-left: 8.5vw;
    margin-top: 1.5vw;    
}

#ProfilePhotoImage {
    border-radius: 100%;
    width: 7vw;
    height: 7vw;
    display: flex;
    align-items: center;
    
}

#Title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.SubTitle {
    color: rgb(209, 208, 208);
    display: flex;
    align-items: center;
    justify-content: center;

}

.Infos {
    color: rgb(209, 208, 208);
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: rgb(209, 208, 208);

}
